<!DOCTYPE html>
<html>
<head>
    <title>Iris Prediction</title>
</head>
<body>
    <h1>Iris Flower Species Prediction</h1>

    <form action="/species" method="POST">
        <label>Sepal Length (cm):</label>
        <input type="text" name="SepalLengthCm"><br><br>

        <label>Sepal Width (cm):</label>
        <input type="text" name="SepalWidthCm"><br><br>

        <label>Petal Length (cm):</label>
        <input type="text" name="PetalLengthCm"><br><br>

        <label>Petal Width (cm):</label>
        <input type="text" name="PetalWidthCm"><br><br>

        <button type="submit">Predict</button>
    </form>
</body>
</html>

