
name: CI-CD Docker to WSL

on:
  push:
    branches: ["main"]

jobs:
  build_push_deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # ---- Docker Build & Push ----
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker Image
        run: docker build -t prasadkadam125/iris-flask-app:latest .

      - name: Push Docker Image
        run: docker push prasadkadam125/iris-flask-app:latest
